<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mummyding.app.leisure" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permisson.ACCESS_WIFI_STATE" />

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:resizeable="true"
        android:smallScreens="true" />

    <application
        android:name=".LeisureApplication"
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
        <activity android:name=".ui.MainActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.support.WebViewUrlActivity" >
        </activity>
        <activity android:name=".ui.reading.ReadingDetailsActivity" >
        </activity>
        <activity android:name=".ui.support.WebViewLocalActivity" >
        </activity>
        <activity android:name=".ui.support.BaseWebViewActivity" >
        </activity>
    </application>

</manifest>
